@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

html {
    scroll-behavior: smooth;
	user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	-webkit-touch-callout: none;
}

body {
    background-image: url(image/conanwallpaper.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;
	transform: scale(1);
	text-align:center;
	font-family: 'Oswald', sans-serif;
	margin: 0;
    
}

#heading1 {
    font-family: 'Lobster', cursive;
	color: whitesmoke;
	font-weight:100;
	text-shadow: 3px 4px 5px #5da4ef;
}

h1:hover {
	transform: scale(1.3);
	transition: 1.5s;
}

#himg {
	width: 80px;
	height: 80px;
	margin-bottom: -1%;
}

* {
    cursor: 
    url(image/conancursor.cur),  
    auto !important;
} 


.menu {
	margin: 0;
	padding: 0;
	width: 150px;
	background: rgb(255 255 255 / 16%);
	position: fixed;
	height: auto;
	overflow: auto;
}
  
.menu a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
	text-shadow: 3px 4px 5px white;
	font-family: 'Comic Neue', cursive;
	font-weight: 700;
	text-transform: uppercase;
}

.menu .nav1 .about {
	background-color: rgba(17, 17, 71, 0.808);
	color: rgb(255, 255, 255);
	text-shadow: 1px -1px 8px white;
}
  
.nav1 a:hover {
	border:none;
	background:rgb(255 255 255 / 50%);
	padding:20px 20px;
	color:#ffffff;
	text-shadow: 3px 4px 5px rgb(10, 23, 75);
}

.menu .nav1 .about:hover {
	padding: 16px;
}

.nav2 .login:hover {
  border:none;
  background: rgb(92 220 167 / 50%);
  padding:20px 20px;
  color: white;
  text-shadow: 3px 4px 5px black;
}

.nav2 .signup:hover {
  border:none;
  background:rgb(98 181 253 / 50%);
  padding:20px 20px;
  color: white;
  text-shadow: 3px 4px 5px black;
}

.intro-container {
	width: 60%;
    margin-left: 20%;
    background: #ffffffbf;
    padding: 73px 41px;
	line-height: 1.5;
    float: none;
}

.intro img {
	width: 50%;
    margin: 3% 0;
    border: ridge;
}

#conanac {
	display: none;
}

.bttop {
    position: fixed;
    width: 50px;
	height: 50px;
	float: left;
    background: #18652129;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    border-radius: 43%;
    line-height: 2;
	text-shadow: 1px 1px 6px #fff;
}

footer p {
	position: relative;
	left: 20px;
}

@media only screen and (max-width: 1024px) {
	h1:hover {
		transform: scale(0.9);
		transition: 1.5s;
	}
	.menu {
	  width: 100%;
	  height: auto;
	  position: relative;
	  background: rgb(255 255 255 / 16%);
	  overflow: hidden;
	  margin: -24px 0px;
	  margin-bottom: 1%;
	  margin-left: 1%;
	}
	.nav1 a{
	  color: #183a65;
	  padding: 10px 20px;
	  font-size: 15px;
	  text-decoration: none;
	  float: left;
	  letter-spacing: 2px;
	  text-transform: uppercase;
    }
    .nav1 {
        display: inline-flex;
	}
	.nav2 a {
		color: #183a65;
		padding: 10px 20px;
		font-size: 15px;
		text-decoration: none;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	.content {
		margin-top: 5%;
	}
	.intro-container {
		margin-left: 15%;
	}	
	footer p {
		position: relative;
		left: 15px;
	}
	.bttop {
		float: none;
	}
}

@media only screen and (max-width: 800px) {
	#conanac {
		display: inline;
	}
}

@media only screen and (max-width: 568px) and (min-width: 545px) {
	#heading1 {
		font-size: 29px;
	}
	#himg {
		width: 70px;
		height: 70px;
		margin-bottom: -1%;
	}
	.nav1 a:hover {
		padding:20px 15px;
	}

}

@media only screen and (max-width: 544px) {
    .nav1 {
        display: block;
    }
	.menu .nav1 a {
		text-align: center;
		float: none;
	}
	.nav1 a{
		font-size: 13px;
	}
	.nav2 a {
		font-size: 13px;
	}
	#heading1 {
		font-size: 25px;
	}
	#himg {
		width: 60px;
		height: 60px;
		margin-bottom: -1%;
	}
}