@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

html {
	scroll-behavior: smooth;
}

body {
    background-image: url(image/conanwallpaper.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;
	transform: scale(1);
	text-align:center;
	font-family: 'Oswald', sans-serif;
	margin: 0;
    
}

#heading1 {
    font-family: 'Lobster', cursive;
	color: whitesmoke;
	font-weight:100;
	text-shadow: 3px 4px 5px #5da4ef;
	user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	-webkit-touch-callout: none;
}

#heading1:active {
	color: #11375f;
	font-weight:100;
	text-shadow: 3px 4px 7px whitesmoke;
}

#himg {
	width: 80px;
	height: 80px;
	margin-bottom: -1%;
}

* {
    cursor: 
    url(image/conancursor.cur),  
    auto !important;
} 


.menu {
	margin: 0;
	padding: 0;
	width: 150px;
	background: rgb(255 255 255 / 16%);
	position: fixed;
	height: auto;
	overflow: auto;
	user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	-webkit-touch-callout: none;
}
  
.menu .nav1 a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
	text-shadow: 3px 4px 5px white;
	font-family: 'Comic Neue', cursive;
	font-weight: 700;
	text-transform: uppercase;
}

.menu .nav1 .rmovie {
	background-color: rgba(17, 17, 71, 0.808);
	color: rgb(255, 255, 255);
	text-shadow: 1px -1px 8px white;
}

.menu .nav1 .logout {
	color: rgb(187, 0, 0);
}
  
.nav1 a:hover {
	border:none;
	background:rgb(255 255 255 / 50%);
	padding:20px 20px;
	color:#ffffff;
	text-shadow: 3px 4px 5px rgb(10, 23, 75);
}

.menu .nav1 .rmovie:hover {
	padding: 16px;
}

.nav1 .logout:hover {
	background: #f17575ad;
	color: white;
}

.movie-s {
    display: none;
}

.movie a {
    text-decoration: none;
    color: #142f38;
    font-weight: 600;
}

.movie {
font-family: 'Noto Serif TC', serif;
    display: inline-table;
    background: #201e1e40;
    width: 69%;
    max-width: 100%;
    padding: 5px 22px;
    border: double;
}

.movie th {
    height:75px;
    font-size: 21px;
    color: #cee8ff;
}

#more a {
    font-size:12px;
    color: rgb(168, 243, 208);
    text-decoration: none;
}

#more a:hover {
    color: rgb(0, 122, 0);
}

#more a:active {
    text-decoration: underline;
}

#m2017 img, #m2019 img {
    width: 258px;
}

#m2021 img {
    width: 273px;
}

#m2017c {
    width: 467px;
    background: #ffffffbe;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.4;
}

#m2018c {
    width: 467px;
    background: #65cce3a1;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.4;
}

#m2019c {
    background: #a29dffbd;
    color: #000;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.4;
}

#m2021c {
    background: #ffa5a5bd;
    color: #000;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.4;
}

#m2017c:hover, #m2018c:hover, #m2019c:hover, #m2021c:hover {
    opacity: 1;
}

.movie-s a {
    text-decoration: none;
    color: #142f38;
    font-weight: 600;
}

.movie-sh {
    height:75px;
    font-size: 16px;
    color: #05192b;
    background: #ffffff91;
    text-align: center;
    line-height: 71.5px;
}

#mores a {
    font-size:12px;
    color: rgb(47, 82, 47);
    text-decoration: none;
}

#m2017s {
    order: 1;
}

#m2018s {
    order: 2;
}

#m2019s {
    order: 3;
}

#m2021s {
    order: 4;
}

#mores a:hover {
    color: rgb(50, 68, 128);
}

#mores a:active {
    text-decoration: underline;
}

#m2017s img, #m2019s img {
    width: 258px;
}

#m2021s img {
    width: 273px;
}

#m2017sc {
    background: #ffffffbe;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.4;
}

#m2018sc {
    background: #65cce3a1;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.4;
}

#m2019sc {
    background: #a29dffbd;
    color: #000;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.4;
}

#m2021sc {
    background: #ffa5a5bd;
    color: #000;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.4;
}

#m2017sc:hover, #m2018sc:hover, #m2019sc:hover, #m2021sc:hover {
    opacity: 1;
}

.movie-s a {
    text-decoration: none;
    color: #142f38;
    font-weight: 600;
}

.bttop {
    padding: 5px 25px;
    position: relative;
    background: #18652129;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    border-radius: 33%;
    line-height: 2;
    text-shadow: 1px 1px 6px #fff;
}

footer p {
	position: relative;
}

@media only screen and (max-width: 1024px) {
	.menu {
	  width: 100%;
	  height: auto;
	  position: relative;
	  background: rgb(255 255 255 / 16%);
	  overflow: hidden;
	  margin: -24px 0px;
	  margin-bottom: 1%;
	  margin-left: 1%;
	}
	.nav1 a{
	  color: #183a65;
	  padding: 10px 20px;
	  font-size: 15px;
	  text-decoration: none;
	  float: left;
	  letter-spacing: 2px;
	  text-transform: uppercase;
    }
    .nav1 {
        display: inline-flex;
	}
	.content {
		margin-top: 5%;
	}
}

@media only screen and (max-width: 568px) and (min-width: 545px) {
	#heading1 {
		font-size: 29px;
	}
	#himg {
		width: 70px;
		height: 70px;
		margin-bottom: -1%;
	}
	.nav1 a:hover {
		padding:20px 15px;
	}
}

@media only screen and (max-width: 544px) {
    .nav1 {
        display: block;
    }
	.menu .nav1 a {
		text-align: center;
		float: none;
	}
	.nav1 a{
		font-size: 13px;
	}
	#heading1 {
		font-size: 25px;
	}
	#himg {
		width: 60px;
		height: 60px;
		margin-bottom: -1%;
    }
    .movie {
        display: none;
    }
    .movie-s {
        display: grid;
    }
    #m2017s {
        order: 4;
    }
    
    #m2018s {
        order: 3;
    }
    
    #m2019s {
        order: 2;
    }
    
    #m2021s {
        order: 1;
    }
}